### Editors ###

.idea/

### OS ###
.DS_Store

### DevBox ###
/logs/
/.box/reports/
/.box/state/
/.box/state/**
/.box/env/.env.local

### Node / JS (template convenience) ###
node_modules/

package-lock.json

### Archives / data ###
*.jar
*.dat

dist/